.editTransaction {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.1;
    margin-right: 0.1;
    padding: 0.25em;
}

.editCaption {
    display: block;
    font-weight: bold;
}

.edit input {
    border-radius: var(--radius-large);
    border: 0.1em solid var(--accent-1-bg);
}

.editTag div {
    display: inline-block;
    margin: 0.25em;
}

.editIcon {
    height: 1em;
    fill: var(--fg-color-highlight);
}

.editRadioGroup div {
    display: inline-block;
}
