.editTransaction {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.25em;
    display: flexbox;
}

.editCaption {
    display: block;
    font-weight: bold;
    padding: 0.25em;
}

.editTransaction input {
    border-radius: var(--radius-large);
    border: 0.1em solid var(--accent-1-bg);
    padding: 0.5em;
}

.editInput {
    width: -webkit-fill-available;
}

.editTextArea {
    width: -webkit-fill-available;
    height: 5em;
    border-radius: var(--radius-large);
    border: 0.1em solid var(--accent-1-bg);
    padding: 0.5em;
}

.editTag div {
    display: inline-block;
    margin: 0.25em;
}

.editAmountContainer div {
    display: inline-block;
}

.editAmount {
    width: 8em;
    margin-left: 1em;
}

.editIcon {
    height: 1em;
    fill: var(--fg-color-highlight);
}

.editRadioGroup div {
    display: inline-block;
}
