.transactionEntry {
    margin-left: 0.1;
    margin-right: 0.1;
    padding: 0.5em;
    border-bottom: 0.1em solid var(--color-base-c);
}

.transactionsContainer {
    display: block;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.transactionAddButton {
    background-color: var(--color-brand);
    color: var(--color-brand-c);
    font-size: 2em;
    font-weight: bold;
    border-radius: var(--radius-round);
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
}

.transactionAddButton:hover {
    background-color: var(--color-brand-hover);
}

.transactionRow div {
    display: inline-block;
}

.transactionDraft {
    color: var(--color-base-disabled);
}

.transactionDate {
    width: 5em;
    float: right;
    font-style: italic;
    text-align: right;
}

.transactionIcon {
    float: right;
    width: 1em;
    height: 1em;
    fill: var(--color-base-disabled);
}

.transactionIconActive {
    fill: var(--color-accent);
}

.transactionCostCenter {
    float: right;
}

.transactionAmount {
    width: 5em;
    float: right;
    font-weight: bold;
    text-align: right;
}

.transactionAmountNegative {
    color: var(--color-bad);
}
