.transactionEntry {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 0.1;
    margin-right: 0.1;
    padding: 0.25em;
    border: 0.2em solid var(--accent-1-bg);
    border-radius: var(--radius-large);
}

.transactionRow div {
    display: inline-block;
}

.transactionDraft {
    color: var(--fg-color-gray);
}

.transactionDate {
    width: 5em;
    float: right;
    font-style: italic;
    text-align: right;
    color: var(--fg-color-gray);
}

.transactionIcon {
    float: right;
    width: 1em;
    height: 1em;
    fill: var(--fg-color-gray);
}

.transactionIconActive {
    fill: var(--fg-color-highlight);
}

.transactionCostCenter {
    float: right;
}

.transactionAmount {
    width: 5em;
    float: right;
    font-weight: bold;
    text-align: right;
}

.transactionAmountNegative {
    color: var(--negative-amount);
}
