body {
  margin: 0;
}

#app {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.buttonWide {
  width: -webkit-fill-available;
  display: block;
  margin-top: 1em;
  padding: 0.5em;
  color: var(--color-brand-c);
  background-color: var(--color-brand);
  border-radius: var(--radius-large);
}

.buttonWide:hover {
  background-color: var(--color-brand-hover);
}